<!-- Header Logo -->
<div class="columns is-centered mt-2 has-background-dark">
    <div class="column is-7">
        <figure class="image">
            <img src="/images/TCC Logo.png">
        </figure>
    </div>
</div>

<!-- Sign in -->
<h1 class="title is-1 has-text-centered">Sign in to your account</h1>

<form class="columns is-flex-wrap-wrap is-justify-content-center login-form">
    <!-- Email Input -->
    <div class="column field is-full is-justify-content-center is-flex mb-0 pb-0">
        <div class="field column is-one-third">
            <p class="control has-icons-left has-icons-right">
                <input class="input" id="email-login" type="email" placeholder="Email">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </p>
        </div>
    </div>
    <!-- Password Input -->
    <div class="column field is-full is-justify-content-center is-flex pt-0 mb-0 pb-0">
        <div class="field column is-one-third">
            <p class="control has-icons-left">
                <input class="input" id="password-login" type="password" placeholder="Password">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </p>
        </div>
    </div>
    <!-- Sign In Button -->
    <div class="column is-one-third">
        <button class="button is-success is-fullwidth">
            Log in
        </button>
    </div>
</form>
<!-- Create New Account -->
<h2 class="title is-2 has-text-centered mt-6">No account? Create One Here:</h2>

<form class="signup-form columns is-flex-wrap-wrap is-justify-content-center">
    <!-- Username input -->
    <div class="column field is-full is-justify-content-center is-flex mb-0 pb-0">
        <div class="column is-one-third">
            <p class="control has-icons-left has-icons-right">
                <input class="input" id="name-signup" type="text" placeholder="Username">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </p>
        </div>
    </div>
    <!-- Email input -->
    <div class="column is-full is-justify-content-center is-flex pt-0 mb-0 pb-0">
        <div class="column is-one-third">
            <p class="control has-icons-left has-icons-right">
                <input class="input" id="email-signup" type="email" placeholder="Email">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </p>
        </div>
    </div>
    <!-- Password input -->
    <div class="column field is-full is-justify-content-center is-flex pt-0 mb-0 pb-0">
        <div class="field column is-one-third">
            <p class="control has-icons-left">
                <input class="input" id="password-signup" type="password" placeholder="Password">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </p>
        </div>
    </div>
    <!-- Create Account Button -->
    <div class="column is-one-third">
        <button class="button is-success is-fullwidth">
            Create Account
        </button>
    </div>
</form>

<script src="/js/login.js"></script>