<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabletop Character Creator</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://kit.fontawesome.com/a348674b50.js" crossorigin="anonymous"></script>
</head>

<body>
    <main>
        {{{body}}}
    </main>
</body>

</html>

{{!--
example of conditional login/logout button
<header class="flex items-center justify-between bg-base-300">
    <h1 class="pl-4 font-bold">
        Link Aggregator
    </h1>
    <!-- Conditionally rendering the logout button if the user is logged in  -->
    {{#if logged_in}}
    <nav>
        <button class="btn" id="new-post">post</button>
        <button class="btn" id="logout">logout</button>
    </nav>
    {{/if}}
</header> --}}